.maps {
  width: 300px;
  height: 140px;
}

.maps__marker {
  font-family: Montserrat;
  font-size: 5px;
  margin-top: -30px;
}

@media screen and (max-width: 880px) {
  .maps {
    display: flex;
    justify-content: center;
  }
}
