.main {
  background-color: #f8f8f8;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
}
.main__span {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.main__container {
  display: flex;
  column-gap: 5%;
  justify-content: center;
}

.main__title {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: rgb(31, 31, 211);

  text-shadow: 1px 1px 2px rgb(216, 202, 6);
}

.main__title-container {
  width: 40%;
}

.main__image {
  border-radius: 10%;
  /* box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  width: 100%;
  /* height: 40%; */
}

/* .main__link {
  display: flex;
  justify-content: center;
  color: lightcyan;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  width: 80%;
  line-height: 50px;
  margin: 5% 0;
  background: linear-gradient(to right, #ffd700, #ffa500);
  border-radius: 1rem;
} */

.main__link:hover {
  opacity: 0.9;
}

.main__highlights {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main__highlights-info {
  display: flex;
  justify-content: space-around;
  padding: 10% 5% 5%;
}

.main__highlights-toeic {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
}

.main__toeic-logo {
  width: 60px;
  height: 40px;
}

.main__highlights-text {
  display: flex;
  text-wrap: pretty;
  text-align: center;
  font-size: 12px;
}
.main__highlights-text_span {
  font-size: 24px;
  color: blue;
}
.main__highlights-icon {
  font-size: 48px;
  color: #ffd700;
}

.main__highlights-text_wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 880px) {
  .main {
    padding: 2%;
  }
  .main__container {
    text-align: center;
    flex-direction: column;
  }
  .main__image {
    width: 100%;
    margin: 0;
  }
  .main__title-container {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
  }
  .main__title {
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
  }
  .main__span {
    align-self: center;
  }
  .main__link {
    width: 100%;
  }
  .main__highlights {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
