.main__about {
  display: flex;
  background-color: white;
  justify-content: center;

  padding: 2rem;
}

.main__about-image {
  max-width: 300px;
  max-height: 200px;
  align-items: flex-end;
}

.main__about-title {
  font-size: 48px;
  font-weight: 300;
  color: rgb(73, 70, 70);
  text-shadow: #000 -1px -1px 1px;
}

.main__about-title-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  align-items: center;
}

.main__about-highlights {
  display: flex;
  align-items: center;
}

.main__about-custom {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.main__about-button {
  background: rgb(238, 234, 0);
  background: linear-gradient(to right, #ffd700, #ffa500);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.main__about-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.main__about-button:before,
.main__about-button:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: rgb(251, 172, 2);
  transition: all 0.3s ease;
}
.main__about-button:before {
  height: 0%;
  width: 2px;
}
.main__about-button:after {
  width: 0%;
  height: 2px;
}
.main__about-button:hover {
  background: transparent;
  box-shadow: none;
}
.main__about-button:hover:before {
  height: 100%;
}
.main__about-button:hover:after {
  width: 100%;
}
.main__about-button span:hover {
  color: rgba(2, 126, 251, 1);
}
.main__about-button span:before,
.main__about-button span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgb(251, 172, 2);
  transition: all 0.3s ease;
}
.main__about-button span:before {
  width: 2px;
  height: 0%;
}
.main__about-button span:after {
  width: 0%;
  height: 2px;
}
.main__about-button span:hover:before {
  height: 100%;
}
.main__about-button span:hover:after {
  width: 100%;
}

@media screen and (max-width: 880px) {
  .main__about {
    align-items: center;
  }
  .main__about-container {
    align-items: center;
  }
  .main__about-highlights {
    justify-content: center;
  }
  .main__about-title-container {
    width: 100%;
    align-items: center;
  }
  .main__about-title {
    font-size: 35px;
  }
}
