.class {
  background-color: #f8f8f8;

  display: flex;
  flex-direction: column;
  padding: 5% 10% 0;
}

.class__title {
  font-size: 36px;
  font-weight: 400;

  text-align: left;
  color: blue;
}

.class__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.class__text {
  width: 50%;
  font-size: 14px;
  background-color: rgb(253, 249, 190);
  padding: 2%;
  border-radius: 1rem;
  text-align: justify;
}

.class__image {
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 40%;
}

.class__link:hover {
  opacity: 0.9;
}

.class__link {
  color: lightcyan;
  font-size: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  align-self: center;
  text-align: center;
  text-decoration: none;
  width: 30%;
  line-height: 50px;
  margin: 10% 0;
  background: linear-gradient(to right, #ffd700, #ffa500);
  border-radius: 1rem;
}

@media screen and (max-width: 880px) {
  .class__title {
    text-align: center;
    grid-area: title;
  }
  .class__main {
    display: grid;
    grid-template-areas:
      'text'
      'image';
  }
  .class__text {
    text-align: center;
    width: 95%;
    grid-area: text;
  }
  .class__image {
    grid-area: image;
    justify-self: center;
    width: 100%;
  }
  .class__link {
    width: 100%;
  }
}
