.main {
  background-color: #f8f8f8;
  font-family: Montserrat;

  padding-top: 5%;
}
.main__container {
  margin-left: 15px;
  display: flex;
}
.main__title {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
}

.main__image {
}
