@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main__quiz {
  display: flex;
  background-color: white;
  justify-content: center;
}

.main__quiz-container {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(231, 225, 225, 0.4)
    ),
    url('../../images/question-main.png') no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.main__quiz-title {
  color: rgb(242, 255, 67);
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  text-shadow: #000 -1px -1px 1px;
}

.main__quiz-subtitle {
  text-shadow: #c18080 -1px -1px 1px;
  text-align: center;
}

.main__quiz-link {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(242, 255, 67);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.main__quiz-link:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.main__quiz-link:active {
  color: #000;
}

.main__quiz-link:active:after {
  background: transparent;
}

.main__quiz-link:hover:before {
  opacity: 1;
}

.main__quiz-link:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  .main__quiz-container {
    text-align: center;
  }
}
